@import "reset";

$top-bot-border: 2px solid #8B8785;
$top-bot-padding: 30px;

.margin-center {
  margin: 0 auto;
}
.font-hei {
  font-family: "Heiti SC";
}
.font-ya {
  font-family: "Microsoft YaHei";
}
.font-song {
  font-family: "Songti SC";
}
.font-kai {
  font-family: "Kaiti SC";
}
@mixin clearfix {
  &::after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
  }
  & {
    zoom: 1;
  }
}
@mixin position($position) {
  position: $position;
}
@mixin article-title($color) {
  @extend .font-ya;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 800;
  color: $color;
  text-decoration: underline;
}
.shade {
  @include position(absolute);
  width: 191px;
  height: 301px;
}
* {
  box-sizing: border-box;
}

body {
  max-width: 980px;
  max-height: 1386px;
}

header {
  @include position(relative);
  @extend .font-ya;
  left: 44px;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  background-color: #CD5054;
  .ife-intro {
    @include position(absolute);
    bottom: 0;
    margin-left: 15px;
  }
}

.main-container {
  @extend .margin-center;
  width: 892px;
  border-top: $top-bot-border;
  border-bottom: $top-bot-border;
  padding-top: $top-bot-padding;
  padding-bottom: $top-bot-padding;
}

.banner {
  @include clearfix;
  .banner-img {
    @include position(relative);
    float: left;
    width: 641px;
    height: 301px;
    background: url("../img/snowhalation.jpg");
    background-size: contain;
    .left-shade {
      @extend .shade;
      left: 0;
      background-color: rgba(66, 140, 89, 0.5);
    }
    .right-shade {
      @extend .shade;
      right: 0;
      background-color: rgba(204, 118, 128, 0.5);
    }
  }
  .banner-intro {
    float: right;
    width: 203px;
    border-top: $top-bot-border;
    color: #DE0077;
    .intro-title {
      @extend .font-ya;
      line-height: 40px;
      font-size: 24px;
      text-decoration: underline;
      text-transform: capitalize;
      font-variant: small-caps;
    }
    .intro-subtitle {
      @extend .font-kai;
      line-height: 10px;
      font-size: 12px;
    }
    .intro-04 {
      margin-top: 20px;
      font-size: 116px;
      font-style: italic;
    }
    .intro-05 {
      margin-top: 20px;
      color: #cc8091;
      font-size: 55px;
      .intro-05-01 {
        @include position(relative);
        font-size: 21px;
        bottom: 15px;
      }
      .intro-05-02 {
        @include position(relative);
        font-size: 12px;
        bottom: 0;
        right: 18px;
      }
    }
  }
}
.panel-info {
  width: 641px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 20px;
  .panel {
    //margin-right: 20px;
    @include position(relative);
    width: 33%;
    .title-what {
      @include article-title(#418c59);
    }
    .title-when {
      @include article-title(#d2994f);
    }
    .title-how {
      @include article-title(#cc7680);
    }
    article {
      @extend .font-song;
      line-height: 16px;
      font-size: 12px;
      color: #767777;
    }
    .panel-list {
      @include position(absolute);
      bottom: 0;
      li {
        @extend .font-ya;
        font-size: 12px;
        line-height: 16px;
        color: #231815;
        opacity: 0.7;
        span {
          @extend .font-ya;
          font-style: italic;
          font-size: 12px;
          color: #cd4a48;
        }
      }
    }
  }
}

