@import "reset";

$top-bot-border: 2px solid #8B8785;
$top-bot-padding: 30px;

.margin-center {
  margin: 0 auto;
}

.font-hei {
  font-family: "Heiti SC";
}

.font-ya {
  font-family: "Microsoft YaHei";
}

.font-song {
  font-family: "Songti SC";
}

.font-kai {
  font-family: "Kaiti SC";
}

.clearfix::after {
  display: block;
  height: 0;
  content: ".";
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

@mixin position($position) {
  position: $position;
}

@mixin article-title($color) {
  @extend .font-ya;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 800;
  color: $color;
  text-decoration: underline;
}

@mixin title($size, $color) {
  @extend .font-hei;
  font-size: $size;
  color: $color;
  font-weight: 900;
}

@mixin extra-li($size, $color, $alignment, $lineHeight) {
  @extend .font-song;
  font-size: $size;
  color: $color;
  text-align: $alignment;
  line-height: $lineHeight;
}

.absolute-center {
  @include position(absolute);
  top: 50%;
  transform: translateY(-50%);
}

.shade {
  @include position(absolute);
  width: 191px;
  height: 301px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 980px;
  max-height: 1386px;
}

header {
  @include position(relative);
  @extend .font-ya;
  margin-left: 44px;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  background-color: #CD5054;
  .ife-intro {
    @include position(absolute);
    bottom: 0;
    margin-left: 15px;
  }
}

.main-container {
  @extend .margin-center;
  width: 892px;
  border-top: $top-bot-border;
  border-bottom: $top-bot-border;
  padding-top: $top-bot-padding;
  padding-bottom: $top-bot-padding;
}

.banner {
  .banner-img {
    @include position(relative);
    float: left;
    width: 641px;
    height: 301px;
    background: url("../img/snowhalation.jpg");
    background-size: contain;
    .left-shade {
      @extend .shade;
      left: 0;
      background-color: rgba(66, 140, 89, 0.5);
    }
    .right-shade {
      @extend .shade;
      right: 0;
      background-color: rgba(204, 118, 128, 0.5);
    }
  }
  .banner-intro {
    float: right;
    width: 203px;
    border-top: $top-bot-border;
    color: #DE0077;
    .intro-title {
      @extend .font-ya;
      line-height: 40px;
      font-size: 24px;
      text-decoration: underline;
      text-transform: capitalize;
      font-variant: small-caps;
    }
    .intro-subtitle {
      @extend .font-kai;
      line-height: 10px;
      font-size: 12px;
    }
    .intro-04 {
      margin-top: 20px;
      font-size: 116px;
      font-style: italic;
    }
    .intro-05 {
      margin-top: 20px;
      color: #cc8091;
      font-size: 55px;
      .intro-05-01 {
        @include position(relative);
        font-size: 21px;
        bottom: 15px;
      }
      .intro-05-02 {
        @include position(relative);
        font-size: 12px;
        bottom: 0;
        right: 18px;
      }
    }
  }
}

.panel-info {
  width: 641px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 20px;
  .panel {
    //margin-right: 20px;
    @include position(relative);
    width: 33%;
    .title-what {
      @include article-title(#418c59);
    }
    .title-when {
      @include article-title(#d2994f);
    }
    .title-how {
      @include article-title(#cc7680);
    }
    article {
      @extend .font-song;
      line-height: 16px;
      font-size: 12px;
      color: #767777;
    }
    .panel-list {
      @include position(absolute);
      bottom: 0;
      li {
        @extend .font-ya;
        font-size: 12px;
        line-height: 16px;
        color: #231815;
        opacity: 0.7;
        span {
          @extend .font-ya;
          font-style: italic;
          font-size: 12px;
          color: #cd4a48;
        }
      }
    }
  }
}

.article {
  width: 100%;
  margin-top: 40px;
  .article-left {
    float: left;
    width: 415px;
    .title-01 {
      @include title(42px, #11456b);
      i {
        font-size: 72px;
        color: #f5e327;
      }
    }
    .title-02 {
      @include title(33px, #11456b);
      padding-bottom: 10px;
      border-bottom: 2px solid #113C63;
    }
    .article-info {
      margin-top: 10px;
      strong {
        @extend .font-ya;
        float: left;
        padding: 10px;
        font-size: 70px;
        color: #f5e327;
      }
      p {
        @extend .font-song;
        font-size: 12px;
        line-height: 16px;
        color: #767777;
      }
      img {
        float: right;
        width: 250px;
        height: 293px;
        padding: 10px;
      }
    }
  }
  .article-right {
    float: right;
    .article-img {
      @include position(relative);
      width: 458px;
      height: 275px;
      background: url("../img/lovelivesif.jpg");
      background-size: contain;
      .img-info {
        @include position(absolute);
        bottom: 0;
        width: 458px;
        height: 61px;
        background-color: #6E675E;
        opacity: .7;
        div {
          @extend .absolute-center;
          height: 44px;
          margin-left: 30px;
          padding-left: 5px;
          border-left: 3px solid #72b16a;
          span {
            @extend .font-ya;
            font-size: 26px;
            color: #ffffff;
          }
          i {
            @extend .font-ya;
            line-height: 140%;
            font-size: 12px;
            color: #72b16a;
          }
        }

      }
    }
    .article-extra {
      @include position(relative);
      width: 459px;
      height: 498px;
      margin-top: 20px;
      background-color: #E6E5CD;
      ul {
        display: block;
        padding: 30px;
        li {
          @include extra-li(16px, #5a5b5b, left, 30px);
          .triangle {
            @include position(relative);
            right: 5px;
            display: inline-block;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 5px solid #7e91ac;
          }
          span {
            @include extra-li(12px, #5a5b5b, right, 30px);
          }
        }
      }
      .left {
        @include position(absolute);
        bottom: 0;
        left: 0;
        padding: 15px;
        background-color: #f41c29;
        .left-info {
          span {
            @extend .font-ya;
            display: inline-block;
            padding-right: 5px;
            border-right: 2px solid #ffffff;
            font-size: 110px;
            color: #ffffff;
          }
          div {
            display: inline-block;
            padding-left: 5px;
            i {
              @extend .font-hei;
              display: block;
              line-height: 35px;
              font-size: 21px;
              color: #ffffff;
            }
            p {
              @extend .font-hei;
              line-height: 10px;
              font-size: 12px;
              color: #ffffff;
            }
          }
        }
      }
      .right {
        @include position(absolute);
        @extend .font-hei;
        bottom: 0;
        right: 0;
        width: 175px;
        font-size: 14px;
        padding-bottom: 35px;
        line-height: 16px;
        text-indent: 3em;
        span {
          display: inline-block;
          font-size: 72px;
          color: #d45d5c;
        }
        .quote-left {
          @include position(absolute);
          left: -35px;
        }
       .quote-right {
          @include position(absolute);
          right: 20px;
        }
      }
    }
  }
}

footer {
  @extend .font-hei;
  @include position(relative);
  width: 892px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 12px;
  color: #d45d5c;
  span {
    @include position(absolute);
    right: 0;
  }
}



