html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.margin-center, .main-container {
  margin: 0 auto; }

.font-hei {
  font-family: "Heiti SC"; }

.font-ya, header, .banner .banner-intro .intro-title, .panel-info .panel .title-what, .panel-info .panel .title-when, .panel-info .panel .title-how, .panel-info .panel .panel-list li, .panel-info .panel .panel-list li span {
  font-family: "Microsoft YaHei"; }

.font-song, .panel-info .panel article {
  font-family: "Songti SC"; }

.font-kai, .banner .banner-intro .intro-subtitle {
  font-family: "Kaiti SC"; }

.shade, .banner .banner-img .left-shade, .banner .banner-img .right-shade {
  position: absolute;
  width: 191px;
  height: 301px; }

* {
  box-sizing: border-box; }

body {
  max-width: 980px;
  max-height: 1386px; }

header {
  position: relative;
  left: 44px;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  background-color: #CD5054; }
  header .ife-intro {
    position: absolute;
    bottom: 0;
    margin-left: 15px; }

.main-container {
  width: 892px;
  border-top: 2px solid #8B8785;
  border-bottom: 2px solid #8B8785;
  padding-top: 30px;
  padding-bottom: 30px; }

.banner::after {
  display: block;
  height: 0;
  content: ".";
  clear: both;
  visibility: hidden; }
.banner {
  zoom: 1; }
.banner .banner-img {
  position: relative;
  float: left;
  width: 641px;
  height: 301px;
  background: url("../img/snowhalation.jpg");
  background-size: contain; }
  .banner .banner-img .left-shade {
    left: 0;
    background-color: rgba(66, 140, 89, 0.5); }
  .banner .banner-img .right-shade {
    right: 0;
    background-color: rgba(204, 118, 128, 0.5); }
.banner .banner-intro {
  float: right;
  width: 203px;
  border-top: 2px solid #8B8785;
  color: #DE0077; }
  .banner .banner-intro .intro-title {
    line-height: 40px;
    font-size: 24px;
    text-decoration: underline;
    text-transform: capitalize;
    font-variant: small-caps; }
  .banner .banner-intro .intro-subtitle {
    line-height: 10px;
    font-size: 12px; }
  .banner .banner-intro .intro-04 {
    margin-top: 20px;
    font-size: 116px;
    font-style: italic; }
  .banner .banner-intro .intro-05 {
    margin-top: 20px;
    color: #cc8091;
    font-size: 55px; }
    .banner .banner-intro .intro-05 .intro-05-01 {
      position: relative;
      font-size: 21px;
      bottom: 15px; }
    .banner .banner-intro .intro-05 .intro-05-02 {
      position: relative;
      font-size: 12px;
      bottom: 0;
      right: 18px; }

.panel-info {
  width: 641px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 20px; }
  .panel-info .panel {
    position: relative;
    width: 33%; }
    .panel-info .panel .title-what {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #418c59;
      text-decoration: underline; }
    .panel-info .panel .title-when {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #d2994f;
      text-decoration: underline; }
    .panel-info .panel .title-how {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #cc7680;
      text-decoration: underline; }
    .panel-info .panel article {
      line-height: 16px;
      font-size: 12px;
      color: #767777; }
    .panel-info .panel .panel-list {
      position: absolute;
      bottom: 0; }
      .panel-info .panel .panel-list li {
        font-size: 12px;
        line-height: 16px;
        color: #231815;
        opacity: 0.7; }
        .panel-info .panel .panel-list li span {
          font-style: italic;
          font-size: 12px;
          color: #cd4a48; }

/*# sourceMappingURL=style.css.map */
