html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.margin-center, .main-container {
  margin: 0 auto; }

.font-hei, .article .article-left .title-01, .article .article-left .title-02, .article .article-right .article-extra .left .left-info div i, .article .article-right .article-extra .left .left-info div p, .article .article-right .article-extra .right, footer {
  font-family: "Heiti SC"; }

.font-ya, header, .banner .banner-intro .intro-title, .panel-info .panel .title-what, .panel-info .panel .title-when, .panel-info .panel .title-how, .panel-info .panel .panel-list li, .panel-info .panel .panel-list li span, .article .article-left .article-info strong, .article .article-right .article-img .img-info div span, .article .article-right .article-img .img-info div i, .article .article-right .article-extra .left .left-info span {
  font-family: "Microsoft YaHei"; }

.font-song, .panel-info .panel article, .article .article-left .article-info p, .article .article-right .article-extra ul li, .article .article-right .article-extra ul li span {
  font-family: "Songti SC"; }

.font-kai, .banner .banner-intro .intro-subtitle {
  font-family: "Kaiti SC"; }

.clearfix::after {
  display: block;
  height: 0;
  content: ".";
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.absolute-center, .article .article-right .article-img .img-info div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.shade, .banner .banner-img .left-shade, .banner .banner-img .right-shade {
  position: absolute;
  width: 191px;
  height: 301px; }

* {
  box-sizing: border-box; }

body {
  max-width: 980px;
  max-height: 1386px; }

header {
  position: relative;
  margin-left: 44px;
  width: 110px;
  height: 61px;
  font-size: 12px;
  color: #ffffff;
  background-color: #CD5054; }
  header .ife-intro {
    position: absolute;
    bottom: 0;
    margin-left: 15px; }

.main-container {
  width: 892px;
  border-top: 2px solid #8B8785;
  border-bottom: 2px solid #8B8785;
  padding-top: 30px;
  padding-bottom: 30px; }

.banner .banner-img {
  position: relative;
  float: left;
  width: 641px;
  height: 301px;
  background: url("../img/snowhalation.jpg");
  background-size: contain; }
  .banner .banner-img .left-shade {
    left: 0;
    background-color: rgba(66, 140, 89, 0.5); }
  .banner .banner-img .right-shade {
    right: 0;
    background-color: rgba(204, 118, 128, 0.5); }
.banner .banner-intro {
  float: right;
  width: 203px;
  border-top: 2px solid #8B8785;
  color: #DE0077; }
  .banner .banner-intro .intro-title {
    line-height: 40px;
    font-size: 24px;
    text-decoration: underline;
    text-transform: capitalize;
    font-variant: small-caps; }
  .banner .banner-intro .intro-subtitle {
    line-height: 10px;
    font-size: 12px; }
  .banner .banner-intro .intro-04 {
    margin-top: 20px;
    font-size: 116px;
    font-style: italic; }
  .banner .banner-intro .intro-05 {
    margin-top: 20px;
    color: #cc8091;
    font-size: 55px; }
    .banner .banner-intro .intro-05 .intro-05-01 {
      position: relative;
      font-size: 21px;
      bottom: 15px; }
    .banner .banner-intro .intro-05 .intro-05-02 {
      position: relative;
      font-size: 12px;
      bottom: 0;
      right: 18px; }

.panel-info {
  width: 641px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 20px; }
  .panel-info .panel {
    position: relative;
    width: 33%; }
    .panel-info .panel .title-what {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #418c59;
      text-decoration: underline; }
    .panel-info .panel .title-when {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #d2994f;
      text-decoration: underline; }
    .panel-info .panel .title-how {
      display: block;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      color: #cc7680;
      text-decoration: underline; }
    .panel-info .panel article {
      line-height: 16px;
      font-size: 12px;
      color: #767777; }
    .panel-info .panel .panel-list {
      position: absolute;
      bottom: 0; }
      .panel-info .panel .panel-list li {
        font-size: 12px;
        line-height: 16px;
        color: #231815;
        opacity: 0.7; }
        .panel-info .panel .panel-list li span {
          font-style: italic;
          font-size: 12px;
          color: #cd4a48; }

.article {
  width: 100%;
  margin-top: 40px; }
  .article .article-left {
    float: left;
    width: 415px; }
    .article .article-left .title-01 {
      font-size: 42px;
      color: #11456b;
      font-weight: 900; }
      .article .article-left .title-01 i {
        font-size: 72px;
        color: #f5e327; }
    .article .article-left .title-02 {
      font-size: 33px;
      color: #11456b;
      font-weight: 900;
      padding-bottom: 10px;
      border-bottom: 2px solid #113C63; }
    .article .article-left .article-info {
      margin-top: 10px; }
      .article .article-left .article-info strong {
        float: left;
        padding: 10px;
        font-size: 70px;
        color: #f5e327; }
      .article .article-left .article-info p {
        font-size: 12px;
        line-height: 16px;
        color: #767777; }
      .article .article-left .article-info img {
        float: right;
        width: 250px;
        height: 293px;
        padding: 10px; }
  .article .article-right {
    float: right; }
    .article .article-right .article-img {
      position: relative;
      width: 458px;
      height: 275px;
      background: url("../img/lovelivesif.jpg");
      background-size: contain; }
      .article .article-right .article-img .img-info {
        position: absolute;
        bottom: 0;
        width: 458px;
        height: 61px;
        background-color: #6E675E;
        opacity: .7; }
        .article .article-right .article-img .img-info div {
          height: 44px;
          margin-left: 30px;
          padding-left: 5px;
          border-left: 3px solid #72b16a; }
          .article .article-right .article-img .img-info div span {
            font-size: 26px;
            color: #ffffff; }
          .article .article-right .article-img .img-info div i {
            line-height: 140%;
            font-size: 12px;
            color: #72b16a; }
    .article .article-right .article-extra {
      position: relative;
      width: 459px;
      height: 498px;
      margin-top: 20px;
      background-color: #E6E5CD; }
      .article .article-right .article-extra ul {
        display: block;
        padding: 30px; }
        .article .article-right .article-extra ul li {
          font-size: 16px;
          color: #5a5b5b;
          text-align: left;
          line-height: 30px; }
          .article .article-right .article-extra ul li .triangle {
            position: relative;
            right: 5px;
            display: inline-block;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom: 5px solid #7e91ac; }
          .article .article-right .article-extra ul li span {
            font-size: 12px;
            color: #5a5b5b;
            text-align: right;
            line-height: 30px; }
      .article .article-right .article-extra .left {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px;
        background-color: #f41c29; }
        .article .article-right .article-extra .left .left-info span {
          display: inline-block;
          padding-right: 5px;
          border-right: 2px solid #ffffff;
          font-size: 110px;
          color: #ffffff; }
        .article .article-right .article-extra .left .left-info div {
          display: inline-block;
          padding-left: 5px; }
          .article .article-right .article-extra .left .left-info div i {
            display: block;
            line-height: 35px;
            font-size: 21px;
            color: #ffffff; }
          .article .article-right .article-extra .left .left-info div p {
            line-height: 10px;
            font-size: 12px;
            color: #ffffff; }
      .article .article-right .article-extra .right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 175px;
        font-size: 14px;
        padding-bottom: 35px;
        line-height: 16px;
        text-indent: 3em; }
        .article .article-right .article-extra .right span {
          display: inline-block;
          font-size: 72px;
          color: #d45d5c; }
        .article .article-right .article-extra .right .quote-left {
          position: absolute;
          left: -35px; }
        .article .article-right .article-extra .right .quote-right {
          position: absolute;
          right: 20px; }

footer {
  position: relative;
  width: 892px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 12px;
  color: #d45d5c; }
  footer span {
    position: absolute;
    right: 0; }

/*# sourceMappingURL=style.css.map */
